<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tonalify!</title>

  <style>
    ul {
      list-style-type: none;
      padding-top: 10px;}

    body {
      font-family: Arial, Helvetica, sans-serif;}
    }

    #nav-bar {
      background-color: #438496;
      color: white;
    }

</style>
</head>

<body>
  <div class='nav-bar'>
    <ul style=>
      <li><a href="home.html">Tonalify!</a></li>
    </ul>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='jumbotron'>
          <div align="center">
            <h1>Tonalify</h1>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <div align="center">
          <p>Messages, essays, moods, complaints. Post them here and we will tell the sentiment of your message!</p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <div align="center">
          <form method="POST" action="/">
            <textarea type="text" name="body" cols="100" rows="10"> </textarea>
            <br>
            <input type="submit" value="Detect">
          </form>
        </div>
      </div>
    </div>
    <div align="center">
      <br>
      {% if out %}

      <div>
        {% for s in out%}
        <p>{{s}}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</body>

</html>